<a href="https://colab.research.google.com/github/DDR7707/End-To-End-ML-Projects/blob/main/Waste%20Marketing%20HackerEarth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
train = files.upload()

Saving train.csv to train.csv

In [ ]:
import io
df_temp = pd.read_csv(io.BytesIO(train['train.csv']) , parse_dates = ["Date_of_creation"] , low_memory = False)

In [ ]:
df = df_temp.copy()
df.head()

   Deal_title  ... Success_probability
0  TitleM5DZY  ...                73.6
1  TitleKIW18  ...                58.9
2  TitleFXSDN  ...                68.8
3  TitlePSK4Y  ...                64.5
4  Title904GV  ...                62.4

[5 rows x 23 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Deal_title             7007 non-null   object
 1   Lead_name              7007 non-null   object
 2   Industry               7006 non-null   object
 3   Deal_value             6956 non-null   object
 4   Weighted_amount        6482 non-null   object
 5   Date_of_creation       7007 non-null   datetime64[ns]
 6   Pitch                  7007 non-null   object
 7   Contact_no             7007 non-null   object
 8   Lead_revenue           7007 non-null   object
 9   Fund_category          7007 non-null   object
 10  Geography              6035 non-null   object
 11  Location               6996 non-null   object
 12  POC_name               6999 non-null   object
 13  Designation            7007 non-null   object
 14  Lead_POC_email         7007 non-null   object
 15  Hiring_candidate_role  7007 non-null   object
 16  Lead_source            7007 non-null   object
 17  Level_of_meeting       7007 non-null   object
 18  Last_lead_update       6374 non-null   object
 19  Internal_POC           7007 non-null   object
 20  Resource               6858 non-null   object
 21  Internal_rating        7007 non-null   int64
 22  Success_probability    7007 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(20)
memory usage: 1.2+ MB

In [ ]:
df["year"] = df["Date_of_creation"].dt.year
df["month"] = df["Date_of_creation"].dt.month
df["day"] = df["Date_of_creation"].dt.day
df.drop(["Date_of_creation"] , axis = 1 , inplace = True)

In [ ]:
df.head().T

                                                   0  ...                         4
Deal_title                                TitleM5DZY  ...                Title904GV
Lead_name              Davis, Perkins and Bishop Inc  ...          Lee and Sons PLC
Industry                                 Restaurants  ...        Financial Services
Deal_value                                   320506$  ...                   483896$
Weighted_amount                           2067263.7$  ...                       NaN
Pitch                                      Product_2  ...                 Product_2
Contact_no                              607.447.7883  ...      001-878-814-6134x015
Lead_revenue                        50 - 100 Million  ...          50 - 100 Million
Fund_category                             Category 2  ...                Category 3
Geography                                        USA  ...                     India
Location                          Killeen-Temple, TX  ...                   Shimoga
POC_name                             Charlene Werner  ...                    kavita
Designation                 Executive Vice President  ...  Executive Vice President
Lead_POC_email              charlenewerner@davis.com  ...    mr.christopher@lee.com
Hiring_candidate_role           Community pharmacist  ...             Media planner
Lead_source                                  Website  ...                   Website
Level_of_meeting                             Level 3  ...                   Level 2
Last_lead_update                            No track  ...                Up-to-date
Internal_POC                        Davis,Sharrice A  ...             Thomas,Lori E
Resource                                         NaN  ...                        No
Internal_rating                                    3  ...                         4
Success_probability                             73.6  ...                      62.4
year                                            2020  ...                      2019
month                                              3  ...                         5
day                                               29  ...                        22

[25 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Deal_title             7007 non-null   object
 1   Lead_name              7007 non-null   object
 2   Industry               7006 non-null   object
 3   Deal_value             6956 non-null   object
 4   Weighted_amount        6482 non-null   object
 5   Pitch                  7007 non-null   object
 6   Contact_no             7007 non-null   object
 7   Lead_revenue           7007 non-null   object
 8   Fund_category          7007 non-null   object
 9   Geography              6035 non-null   object
 10  Location               6996 non-null   object
 11  POC_name               6999 non-null   object
 12  Designation            7007 non-null   object
 13  Lead_POC_email         7007 non-null   object
 14  Hiring_candidate_role  7007 non-null   object
 15  Lead_source            7007 non-null   object
 16  Level_of_meeting       7007 non-null   object
 17  Last_lead_update       6374 non-null   object
 18  Internal_POC           7007 non-null   object
 19  Resource               6858 non-null   object
 20  Internal_rating        7007 non-null   int64
 21  Success_probability    7007 non-null   float64
 22  year                   7007 non-null   int64
 23  month                  7007 non-null   int64
 24  day                    7007 non-null   int64
dtypes: float64(1), int64(4), object(20)
memory usage: 1.3+ MB

In [ ]:
df.isna().sum()

Deal_title                 0
Lead_name                  0
Industry                   1
Deal_value                51
Weighted_amount          525
Pitch                      0
Contact_no                 0
Lead_revenue               0
Fund_category              0
Geography                972
Location                  11
POC_name                   8
Designation                0
Lead_POC_email             0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update         633
Internal_POC               0
Resource                 149
Internal_rating            0
Success_probability        0
year                       0
month                      0
day                        0
dtype: int64

In [ ]:
for i in df.columns:
    print(i)
    print(df[i].unique())
    print("\n")
    print(len(df[i].unique()))
    print("\n")
    print(df[i].value_counts())
    print("\n\n")

Deal_title
['TitleM5DZY' 'TitleKIW18' 'TitleFXSDN' ... 'TitleF1FWY' 'TitleXVBNJ'
 'TitleKXU3H']


7007


TitleB1UVZ    1
TitleG1SLM    1
TitleDDP9S    1
TitleEVVBV    1
TitleUFC1H    1
             ..
Title37XZQ    1
TitleHEGC4    1
TitleBJITD    1
Title5ANAM    1
TitleXOEDM    1
Name: Deal_title, Length: 7007, dtype: int64



Lead_name
['Davis, Perkins and Bishop Inc' 'Bender PLC LLC' 'Carter-Henry and Sons'
 ... 'Romero-Juarez PLC' 'Sullivan, Mooney and Elliott LLC'
 'Jones LLC and Sons']


7007


Mendoza-Cantu LLC                  1
Cole, Nichols and Rodriguez LLC    1
Hendricks-Rodriguez and Sons       1
Reyes-Collins Group                1
Richardson Ltd Group               1
                                  ..
Howe Ltd PLC                       1
Torres Inc and Sons                1
Benitez, Howell and Bolton LLC     1
Vazquez PLC Ltd                    1
Conley Group LLC                   1
Name: Lead_name, Length: 7007, dtype: int64



Industry
['Restaurants' 'Construction Services' 'Hospitals/Clinics' 'Real Estate'
 'Financial Services' 'Banks' 'Architecture/Engineering'
 'Education/Training' 'REIT' 'Healthcare Facilities/Services'
 'Hotels/Motels' 'Biotech/Healthcare' 'Services' 'Other Investment Firms'
 'Software' 'Other Biz Services' 'Materials/Manufacturing' 'Other'
 'Trucking' 'Automotive/Transportation' 'Constr - Supplies'
 'Casinos/Gaming' 'Food Processing' 'BioTech/Drugs'
 'Investment Bank/Brokerage' 'Technology Consulting' 'Grocery'
 'Online Banking' 'Staffing' 'Associations' 'Consumer Products'
 'Professional Services' 'Insurance' 'Beverages (Non-Alcoholic)'
 'Non-Profit' 'Internet Software' 'Software Consulting' 'Energy'
 'Furniture/Fixtures' 'Recreational Products' 'Chemical Manufacturing'
 'Personal Services' 'Training' 'Health/Accident' 'Marketing/Advertising'
 'Telecom Hardware' 'Gold/Silver' 'Semiconductors' 'Other Consulting'
 'Oil, Gas, Coal' 'Aerospace/Defense' 'Social Services'
 'Information Services' 'Telecom Consulting' 'Machine Tools' 'Iron/Steel'
 'Industrial Equip' 'Wireless Consulting' 'Service Providers'
 'Lending/Mortgage' 'Fabricated Products' 'Advertising/PR' 'Wood/Paper'
 'Networking/Comm.' 'Electric Utilities' 'eCommerce' 'Office Supplies'
 'Photography' 'eBusiness' 'Conglomerates' 'Electronics' 'Apparel Retail'
 'Metals/Mining' 'Finance' 'Life' 'Specialty' 'Alternative'
 'Apparel Products' 'Water Utilities' 'Recreational Services'
 'MSPs (Mgmt)' 'Medical Equipment' 'Catalog/MailOrder' 'Retail'
 'Department/Discount' 'Entertainment/Media' 'B2B eCommerce'
 'Plumbing/HVAC' 'Property/Casualty' 'Venture Capital' 'WSPs (Wireless)'
 'Sales/Marketing Services' 'Auto Manufacturers' 'Plastic/Rubber'
 'Auto Parts/Services' 'Legal' 'Religious Groups' 'Web'
 'Peripherals/Comp.' 'Finance Software' 'BSPs (Broadband)' 'Outsourcing'
 'Shipping' 'Personal/Household Products' 'Home Improvement'
 'Waste/Recycling' 'Government' 'Periodicals' 'Scientific'
 'Computer Hardware' 'Constr/Agric Machinery' 'SaaS'
 'Staffing/Outsourcing/HR' 'Television/Cable' 'Warehousing/Logistics'
 'Network Infrastructure' 'Schools' 'Rentals/Leasing' 'Wood/Timber'
 'Movies' 'Testing' 'Human Resources' 'Packaging/Containers' 'Publishing'
 'Printing Services' 'Vitamins/Nutritionals/Other' 'Utilities'
 'Wireless Hardware' 'Supply Chain' 'Beverages (Alcoholic)'
 'Security Software' 'OSPs (Optical)' 'Technology Retail'
 'Hardware Consulting' 'Concrete/Cement' 'Music' 'Internet Consulting'
 'Telecom Services/Telephone Companies' 'Airlines/Air Couriers'
 'Satellite/RF/Micro' 'Construction/Agriculture' 'Aircraft Parts'
 'Leisure/Hospitality' 'Servers/Storage' 'Trucks/Buses/RVs'
 'Security Hardware' 'Accounting' 'Natural Gas' 'Multimedia Software'
 'Security Services' 'Railroads' 'Other Vehicles'
 'Wireless Software Networking' 'Sales/Marketing Software' 'Database'
 'Office Equipment' 'Enterprise' 'ISPs' 'Internet' 'eMail/Messaging'
 'Speech Recognition' 'Radio' 'Appliances/Tools' 'Telecom Software' 'Book'
 nan 'Other Biz Products' 'ERP' 'Newspapers' 'Auto Dealers'
 'Multimedia Hardware' 'Web Development']


172


Banks                        1480
Insurance                     439
Financial Services            397
Real Estate                   209
Investment Bank/Brokerage     200
                             ...
BSPs (Broadband)                1
Hardware Consulting             1
Web                             1
Web Development                 1
eMail/Messaging                 1
Name: Industry, Length: 171, dtype: int64



Deal_value
['320506$' '39488$' '359392$' ... '253608$' '118615$' '258627$']


6908


243194$    2
406619$    2
221338$    2
424365$    2
395121$    2
          ..
136430$    1
314303$    1
432699$    1
199347$    1
304141$    1
Name: Deal_value, Length: 6907, dtype: int64



Weighted_amount
['2067263.7$' '240876.8$' '2407926.4$' ... '1453372.8$' '794720.5$'
 '1642281.45$']


6481


2590876.2$    2
684031.5$     2
3150350.0$    1
434302.4$     1
289133.0$     1
             ..
1961495.6$    1
198120.0$     1
2053668.5$    1
2210982.4$    1
2581875.8$    1
Name: Weighted_amount, Length: 6480, dtype: int64



Pitch
['Product_2' 'Product_1']


2


Product_1    3504
Product_2    3503
Name: Pitch, dtype: int64



Contact_no
['607.447.7883' '892-938-9493' '538.748.2271' ... '777-231-4109x712'
 '001-212-631-5467x377' '+1-240-958-7728']


7007


001-978-899-1354x1837    1
212.364.4816x1210        1
001-692-575-9333         1
(252)636-1110            1
(152)103-6568x1232       1
                        ..
617-822-2023             1
+1-354-691-7095x01145    1
643-363-4310             1
001-012-586-0652x568     1
(207)118-7362            1
Name: Contact_no, Length: 7007, dtype: int64



Lead_revenue
['50 - 100 Million' '500 Million - 1 Billion' '100 - 500 Million']


3


500 Million - 1 Billion    2377
100 - 500 Million          2351
50 - 100 Million           2279
Name: Lead_revenue, dtype: int64



Fund_category
['Category 2' 'Category 4' 'Category 3' 'Category 1']


4


Category 3    1791
Category 2    1785
Category 1    1745
Category 4    1686
Name: Fund_category, dtype: int64



Geography
['USA' 'India' nan]


3


USA      3061
India    2974
Name: Geography, dtype: int64



Location
['Killeen-Temple, TX' 'Ratlam' 'Albany-Schenectady-Troy, NY'
 'Mount Vernon-Anacortes, WA' 'Shimoga' 'Bulandshahr' 'Salisbury, MD-DE'
 'Jacksonville, FL' 'Seattle-Tacoma-Bellevue, WA' 'Clarksville, TN-KY'
 'Oxnard-Thousand Oaks-Ventura, CA' 'Lafayette, LA' 'Danville, IL'
 'Pilibhit' 'Nanded' 'Mobile, AL'
 'Miami-Fort Lauderdale-West Palm Beach, FL' 'Columbus, IN' 'Vellore'
 'Srinagar' 'Peoria, IL' 'Alipurduar' 'Bharauri' 'Ahmadnagar'
 'Grand Junction, CO' 'Chirala' 'Bhubaneshwar'
 'Chambersburg-Waynesboro, PA' 'Thanjavur' 'Bakshpur' 'Springfield, OH'
 'Gaya' 'Puducherry' 'Chico, CA' 'Bellary' 'Monroe, MI'
 'Winchester, VA-WV' 'Salinas, CA' 'Watertown-Fort Drum, NY'
 'Providence-Warwick, RI-MA' 'Dibrugarh' 'Gadsden, AL' 'Tiruvannamalai'
 'Dayton, OH' 'Ranchi' 'Lake Havasu City-Kingman, AZ'
 'Lakeland-Winter Haven, FL' 'Reno, NV' 'Kingsport-Bristol-Bristol, TN-VA'
 'Iowa City, IA' 'Sioux Falls, SD' 'Saharanpur' 'Shahbazpur' 'Rajkot'
 'Dhanbad' 'Alappuzha' 'Flint, MI' 'Machilipatnam' 'Ludhiana'
 'Charleston-North Charleston, SC' 'Lucknow' 'Dindigul' 'Bhuj'
 'Tiruchchirappalli' 'Sacramento--Roseville--Arden-Arcade, CA'
 'Williamsport, PA' 'Charlottesville, VA' 'Janesville-Beloit, WI'
 'Saidapur' 'Bhagalpur' 'Ghandinagar' 'Bareilly'
 'College Station-Bryan, TX' 'Diu' 'Lansing-East Lansing, MI'
 'Billings, MT' 'Tonk' 'Abohar' 'Aligarh' 'Rome, GA' 'Muzaffarpur'
 'Jefferson City, MO' 'Salem' 'Binghamton, NY' 'Jodhpur' 'Jorhat'
 'Dothan, AL' 'Indore' 'Khammam' 'Scranton--Wilkes-Barre--Hazleton, PA'
 'Green Bay, WI' 'Bhopal ' 'Sebring, FL' 'Bhavnagar'
 'Birmingham-Hoover, AL' 'Davangere' 'Adilabad' 'Silvassa' 'Bharatpur'
 'Burlington-South Burlington, VT' 'Greenville-Anderson-Mauldin, SC'
 'Mahabubnagar' 'Tampa-St. Petersburg-Clearwater, FL' 'Kokomo, IN'
 'Hattiesburg, MS' 'Vizianagaram' 'Haora' 'Tirupati' 'Nellore'
 'Oklahoma City, OK' 'Hanford-Corcoran, CA' 'Bhilai'
 'Cape Girardeau, MO-IL' 'Raipur' 'Panaji' 'Itanagar' 'Kankakee, IL'
 'Ocala, FL' 'Chikka Mandya' 'Muzaffarnagar' 'Kota' 'Ahmedabad' 'Ajmer'
 'Firozabad' 'Walla Walla, WA' 'Bikaner'
 'Minneapolis-St. Paul-Bloomington, MN-WI' 'Yuma, AZ' 'Altoona, PA'
 'Purnea' 'Huntsville, AL' 'Dallas-Fort Worth-Arlington, TX' 'Shiliguri'
 'Enid, OK' 'Hata' 'Bengaluru' 'Vishakhapatnam'
 'New York-Newark-Jersey City, NY-NJ-PA' 'Porbandar' 'Jammu'
 'Pittsfield, MA' 'Battle Creek, MI' 'Huntington-Ashland, WV-KY-OH'
 'Jhansi' 'Dalton, GA' 'Cleveland, TN' 'Hisar' 'Dubuque, IA'
 'Panama City, FL' 'Fond du Lac, WI'
 'Buffalo-Cheektowaga-Niagara Falls, NY' 'Nasik'
 'Little Rock-North Little Rock-Conway, AR' 'Provo-Orem, UT' 'Fresno, CA'
 'Guwahati' 'Hubli' 'Vallejo-Fairfield, CA' 'Gangtok' 'St. Joseph, MO-KS'
 'Grand Rapids-Wyoming, MI' 'Shimla' 'San Diego-Carlsbad, CA' 'Kagaznagar'
 'Charlotte-Concord-Gastonia, NC-SC' 'Detroit-Warren-Dearborn, MI'
 'Chandigarh ' 'Lubbock, TX' 'Cape Coral-Fort Myers, FL' 'Casper, WY'
 'Crestview-Fort Walton Beach-Destin, FL' 'Augusta-Richmond County, GA-SC'
 'Gulbarga' "Coeur d'Alene, ID" 'Fargo, ND-MN' 'Sierra Vista-Douglas, AZ'
 'Agartala' 'Parbhani' 'Terre Haute, IN' 'Pittsburgh, PA' 'Kavaratti'
 'Gwalior' 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD' 'Amritsar'
 'Urban Honolulu, HI' 'Valdosta, GA' 'Kollam' 'Tulsa, OK'
 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC' 'Sirsa'
 'Parkersburg-Vienna, WV' 'Haripur' 'Wichita, KS' 'Utica-Rome, NY'
 'Cedar Rapids, IA' 'Sioux City, IA-NE-SD' 'Durham-Chapel Hill, NC'
 'Jamshedpur' 'Krishnanagar' 'Olympia-Tumwater, WA'
 'Norwich-New London, CT' 'Portland-Vancouver-Hillsboro, OR-WA' 'Waco, TX'
 'Hapur' 'Dispur' 'Michigan City-La Porte, IN' 'Prescott, AZ'
 'Burlington, NC' 'Agra' 'Athens-Clarke County, GA' 'Kochi'
 'Portland-South Portland, ME' 'Krishnapuram' 'San Angelo, TX' 'Patiala'
 'New Orleans-Metairie, LA' 'Alexandria, LA' 'The Villages, FL' 'Silchar'
 'Sonipat' 'Springfield, MA' 'Proddatur' 'Madurai'
 'Bridgeport-Stamford-Norwalk, CT' 'East Stroudsburg, PA'
 'Spartanburg, SC' 'Kolkata ' 'Patna' 'Akola' 'Auburn-Opelika, AL'
 'Pathankot' 'Kumbakonam' 'Tallahassee, FL' 'Puri' 'Springfield, MO'
 'Tharati Etawah' 'Rajapalaiyam' 'Montgomery, AL' 'Talcher'
 'Fort Collins, CO' 'Gainesville, FL' 'Trenton, NJ' 'Bhilwara'
 'Madera, CA' 'Hilton Head Island-Bluffton-Beaufort, SC' 'Albuquerque, NM'
 'Bhiwani' 'Worcester, MA-CT' 'Kurnool' 'Modesto, CA' 'Aurangabad'
 'Milwaukee-Waukesha-West Allis, WI' 'Allahabad' 'Fort Smith, AR-OK'
 'Kohima' 'Bhusaval' 'Niles-Benton Harbor, MI'
 'Louisville/Jefferson County, KY-IN' 'Abilene, TX' 'Kansas City, MO-KS'
 'Yakima, WA' 'Reading, PA' 'Columbus, GA-AL' 'Rohtak' 'Kolar'
 'South Bend-Mishawaka, IN-MI' 'Fayetteville-Springdale-Rogers, AR-MO'
 'Pali' 'Phoenix-Mesa-Scottsdale, AZ' 'Nagercoil' 'Brajrajnagar'
 'Warner Robins, GA' 'Bhatpara' 'Davenport-Moline-Rock Island, IA-IL'
 'Des Moines-West Des Moines, IA' 'Sangli' 'Evansville, IN-KY'
 'Omaha-Council Bluffs, NE-IA' 'Odessa, TX' 'Shreveport-Bossier City, LA'
 'Cuttack' 'Faridabad' 'Barnstable Town, MA'
 'Allentown-Bethlehem-Easton, PA-NJ' 'Karnal' 'Imphal' 'New Delhi'
 'Albany, OR' 'Idaho Falls, ID' 'Ogden-Clearfield, UT' 'Lynchburg, VA'
 'Daphne-Fairhope-Foley, AL' 'Gurugram' 'Johnstown, PA' 'Medford, OR'
 'Tezpur' 'Cleveland-Elyria, OH' 'Sherman-Denison, TX' 'Hyderabad'
 'Gopalpur' 'Longview, WA' 'Mirzapur' 'Fort Wayne, IN' 'St. Cloud, MN'
 'Malegaon Camp' 'Palm Bay-Melbourne-Titusville, FL'
 'Youngstown-Warren-Boardman, OH-PA' 'Khanapur' 'Samlaipadar'
 'Jackson, MS' 'Corpus Christi, TX' 'Anniston-Oxford-Jacksonville, AL'
 'Roanoke, VA' 'Rocky Mount, NC' 'Panchkula' 'Port St. Lucie, FL'
 'Bilaspur' 'Barddhaman' 'Delhi' 'Akron, OH' 'Elkhart-Goshen, IN'
 'Nandyal' 'Great Falls, MT' 'Yuba City, CA' 'Jorapokhar' 'Alwar'
 'Vadodara' 'Navsari' 'Bend-Redmond, OR' 'Asheville, NC'
 'Atlanta-Sandy Springs-Roswell, GA' 'U.S. metropolitan areas' 'Kalyan'
 'Mangalore' 'Gulfport-Biloxi-Pascagoula, MS' 'Pine Bluff, AR' 'Bhiwandi'
 'Wenatchee, WA' 'Florence, SC' 'Duluth, MN-WI' 'Kennewick-Richland, WA'
 'Hinesville, GA' 'Ujjain' 'Pensacola-Ferry Pass-Brent, FL' 'Baramula'
 'Lake Charles, LA' 'Valparai' 'Jaipur'
 'San Francisco-Oakland-Hayward, CA' 'Wichita Falls, TX'
 'Florence-Muscle Shoals, AL' 'Mumbai' 'Sheboygan, WI' 'Jacksonville, NC'
 'Bloomington, IL' 'Amarillo, TX' 'Pune' 'Madison, WI' 'Lewiston, ID-WA'
 'El Centro, CA' 'Ann Arbor, MI' 'Ambala' nan 'Haldia'
 'McAllen-Edinburg-Mission, TX' 'Rapid City, SD' 'Midland, TX'
 'Bremerton-Silverdale, WA' 'Kakinada' 'Toledo, OH' 'Bangor, ME'
 'Anchorage, AK' 'La Crosse-Onalaska, WI-MN'
 'Houston-The Woodlands-Sugar Land, TX' 'Rajahmundry'
 'Brownsville-Harlingen, TX' 'Hartford-West Hartford-East Hartford, CT'
 'Aizawl  ' 'Boise City, ID' 'Hindupur' 'Memphis, TN-MS-AR'
 'Grand Island, NE' 'Gainesville, GA' 'Appleton, WI' 'Guntur'
 'Los Angeles-Long Beach-Anaheim, CA' 'Tuscaloosa, AL' 'Napa, CA'
 'Lewiston-Auburn, ME' 'Logan, UT-ID' 'Mankato-North Mankato, MN'
 'Rochester, NY' 'Syracuse, NY' 'Chanda' 'Karimnagar' 'Greenville, NC'
 'Macon, GA' 'Corvallis, OR' 'Nizamabad' 'Calicut'
 'Staunton-Waynesboro, VA' 'Kingston, NY' 'Tyler, TX' 'Rampura'
 'Lincoln, NE' 'Albany, GA' 'Naples-Immokalee-Marco Island, FL' 'Saidpur'
 'Texarkana, TX-AR' 'Cuddalore' 'Lawrence, KS' 'Wausau, WI'
 'Fairbanks, AK' 'Ramagundam' 'Denver-Aurora-Lakewood, CO' 'Jackson, TN'
 'Winston-Salem, NC' 'Thiruvananthapuram' 'Knoxville, TN'
 'Grand Forks, ND-MN' 'Decatur, IL' 'Decatur, AL' 'Brahmapur'
 'St. George, UT' 'Raleigh, NC' 'Source: U.S. Bureau of Economic Analysis'
 'Meerut' 'Monroe, LA' 'Ames, IA' 'Kalamazoo-Portage, MI' 'Ghaziabad'
 'Bellingham, WA' 'Virginia Beach-Norfolk-Newport News, VA-NC'
 'Kahului-Wailuku-Lahaina, HI' 'Coimbatore'
 'San Jose-Sunnyvale-Santa Clara, CA' 'Longview, TX' 'Belgaum'
 'Grants Pass, OR' 'Washington-Arlington-Alexandria, DC-VA-MD-WV'
 'Riverside-San Bernardino-Ontario, CA' 'Lancaster, PA'
 'State College, PA' 'Cumberland, MD-WV' 'Hickory-Lenoir-Morganton, NC'
 'Harrisburg-Carlisle, PA' 'Mansfield, OH' 'Chennai' 'Ithaca, NY'
 'Moradabad' 'Farmington, NM' 'Greeley, CO'
 'Santa Maria-Santa Barbara, CA' 'Chattanooga, TN-GA' 'Dover, DE'
 'Panipat' 'Oshkosh-Neenah, WI' 'Columbia, SC' 'Morgantown, WV' 'Surat'
 'Waterloo-Cedar Falls, IA' 'Austin-Round Rock, TX' 'Latur' 'Elmira, NY'
 'Baton Rouge, LA' 'Blacksburg-Christiansburg-Radford, VA' 'Asansol'
 'Indianapolis-Carmel-Anderson, IN' 'Elizabethtown-Fort Knox, KY'
 'Mathura' 'Kolhapur' 'Harrisonburg, VA' 'Bijapur' 'Bidar' 'New Bern, NC'
 'Punta Gorda, FL' 'Tuticorin' 'Wilmington, NC' 'St. Louis, MO-IL'
 'Raichur' 'El Paso, TX' 'Johnson City, TN' 'Bamanpuri' 'Lima, OH'
 'Tucson, AZ' 'Laredo, TX' 'Missoula, MT' 'New Haven-Milford, CT'
 'Topeka, KS' 'Pueblo, CO' 'Muskegon, MI' 'Tirunelveli'
 '* Advance statistics' 'Visalia-Porterville, CA' 'Jabalpur'
 'Atlantic City-Hammonton, NJ' 'Goldsboro, NC' 'Beaumont-Port Arthur, TX'
 'Wheeling, WV-OH' 'Muncie, IN' 'Saugor' 'Carson City, NV' 'Eugene, OR'
 'Amaravati' 'Columbus, OH' 'Shillong ' 'Spokane-Spokane Valley, WA'
 'Budaun' 'Santa Rosa, CA' 'Owensboro, KY' 'Mysore'
 'Lafayette-West Lafayette, IN' 'Karur' 'Lebanon, PA'
 'Boston-Cambridge-Newton, MA-NH' 'Santa Fe, NM' 'Fyzabad'
 'Manchester-Nashua, NH' 'Vineland-Bridgeton, NJ' 'Saginaw, MI'
 'Deltona-Daytona Beach-Ormond Beach, FL' 'Greensboro-High Point, NC'
 'Warangal' 'Brunswick, GA' 'Springfield, IL' 'Rockford, IL' 'Merced, CA'
 'Morristown, TN' 'Midland, MI' 'San Antonio-New Braunfels, TX'
 'Victoria, TX' 'Charleston, WV' 'Sebastian-Vero Beach, FL' 'Boulder, CO'
 'Bloomsburg-Berwick, PA' 'Bloomington, IN' 'Glens Falls, NY'
 'Cheyenne, WY' 'Cincinnati, OH-KY-IN' 'Colorado Springs, CO'
 'Las Cruces, NM' 'Port Blair' 'Daman' 'Salt Lake City, UT' 'Varanasi'
 'Las Vegas-Henderson-Paradise, NV' 'California-Lexington Park, MD'
 'Carbondale-Marion, IL' 'Lawton, OK' 'Bismarck, ND'
 'Homosassa Springs, FL' 'Champaign-Urbana, IL'
 'Santa Cruz-Watsonville, CA' 'Houma-Thibodaux, LA' 'Savannah, GA'
 'Orlando-Kissimmee-Sanford, FL' 'Canton-Massillon, OH' 'Rochester, MN'
 'Hammond, LA' 'Sikar' 'Pocatello, ID' 'Joplin, MO' 'Hospet'
 'San Luis Obispo-Paso Robles-Arroyo Grande, CA' 'Lexington-Fayette, KY'
 'DehraDun' 'Erie, PA' 'Flagstaff, AZ' 'Sumter, SC' 'Raurkela'
 'Weirton-Steubenville, WV-OH' 'Fayetteville, NC' 'Ocean City, NJ'
 'Redding, CA' 'York-Hanover, PA'
 'Nashville-Davidson--Murfreesboro--Franklin, TN' 'Udaipur'
 'Stockton-Lodi, CA' 'Chicago-Naperville-Elgin, IL-IN-WI' 'Ongole'
 'Salem, OR' 'Eau Claire, WI' 'Bay City, MI' 'Nalgonda' 'Gettysburg, PA'
 'Jonesboro, AR' 'Hot Springs, AR' 'Columbia, MO'
 'Hagerstown-Martinsburg, MD-WV' 'Baltimore-Columbia-Towson, MD'
 'Racine, WI' 'North Port-Sarasota-Bradenton, FL' 'Richmond, VA'
 'Bowling Green, KY' 'Beckley, WV' 'Bakersfield, CA' 'Manhattan, KS'
 'Jackson, MI']


598


Aurangabad                       33
Aligarh                          27
Valparai                         25
Saidapur                         25
Bhusaval                         24
                                 ..
Farmington, NM                    3
Beckley, WV                       3
Decatur, IL                       3
Jackson, MI                       3
California-Lexington Park, MD     3
Name: Location, Length: 597, dtype: int64



POC_name
['Charlene Werner' 'rakhi' 'Ariel Hamilton' ... 'Nicholas Duncan'
 'Wayne Williams' 'Carol Strickland']


5262


pooja                70
jyoti                39
kavita               34
neha                 32
poonam               29
                     ..
Alexander Woodard     1
Dawn Montes           1
Matthew Cruz MD       1
Jamie Moreno          1
Barbara Barnes        1
Name: POC_name, Length: 5261, dtype: int64



Designation
['Executive Vice President' 'Chairman/CEO/President'
 'SVP/General Counsel ' 'CEO/Co-Founder/Chairman'
 'Vice President / GM (04-present) : VP Sales and Marketing (01-04)'
 'Chairman/Chief Innovation Officer' 'CEO' 'CEO/Chairman/President'
 'CEO/President' 'Chief Executive Officer']


10


CEO                                                                  748
Executive Vice President                                             731
Chairman/CEO/President                                               722
CEO/Chairman/President                                               701
CEO/Co-Founder/Chairman                                              700
SVP/General Counsel                                                  698
Chairman/Chief Innovation Officer                                    688
Vice President / GM (04-present) : VP Sales and Marketing (01-04)    678
CEO/President                                                        676
Chief Executive Officer                                              665
Name: Designation, dtype: int64



Lead_POC_email
['charlenewerner@davis.com' 'terrylogan@bender.com'
 'arielhamilton@carterhenry.com' ... 'nicholasduncan@romerojuarez.com'
 'waynewilliams@sullivan.com' 'carolstrickland@jones.com']


7007


travissosa@connergreen.com         1
samanthamiller@lerogers.com        1
christineberry@taylorpierce.com    1
jaredmcintyre@rileybailey.com      1
madisonlowe@jacobs.com             1
                                  ..
christopherfrench@anderson.com     1
amberperez@crosby.com              1
jacquelinemarshall@lowewood.com    1
johnruiz@harveyjohnson.com         1
karacook@torres.com                1
Name: Lead_POC_email, Length: 7007, dtype: int64



Hiring_candidate_role
['Community pharmacist' 'Recruitment consultant' 'Health service manager'
 'Therapist, speech and language' 'Media planner' 'Microbiologist'
 'Cartographer' 'Engineer, maintenance (IT)'
 'Product/process development scientist' 'Engineering geologist'
 'Hydrogeologist' 'Scientist, audiological'
 'Speech and language therapist' 'Hospital doctor'

In [ ]:
df.drop(["Deal_title" , "Lead_name" , "Contact_no" , "Lead_POC_email"] , axis = 1 , inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Industry               7006 non-null   object
 1   Deal_value             6956 non-null   object
 2   Weighted_amount        6482 non-null   object
 3   Pitch                  7007 non-null   object
 4   Lead_revenue           7007 non-null   object
 5   Fund_category          7007 non-null   object
 6   Geography              6035 non-null   object
 7   Location               6996 non-null   object
 8   POC_name               6999 non-null   object
 9   Designation            7007 non-null   object
 10  Hiring_candidate_role  7007 non-null   object
 11  Lead_source            7007 non-null   object
 12  Level_of_meeting       7007 non-null   object
 13  Last_lead_update       6374 non-null   object
 14  Internal_POC           7007 non-null   object
 15  Resource               6858 non-null   object
 16  Internal_rating        7007 non-null   int64
 17  Success_probability    7007 non-null   float64
 18  year                   7007 non-null   int64
 19  month                  7007 non-null   int64
 20  day                    7007 non-null   int64
dtypes: float64(1), int64(4), object(16)
memory usage: 1.1+ MB

In [ ]:
df.head().T

                                              0  ...                         4
Industry                            Restaurants  ...        Financial Services
Deal_value                              320506$  ...                   483896$
Weighted_amount                      2067263.7$  ...                       NaN
Pitch                                 Product_2  ...                 Product_2
Lead_revenue                   50 - 100 Million  ...          50 - 100 Million
Fund_category                        Category 2  ...                Category 3
Geography                                   USA  ...                     India
Location                     Killeen-Temple, TX  ...                   Shimoga
POC_name                        Charlene Werner  ...                    kavita
Designation            Executive Vice President  ...  Executive Vice President
Hiring_candidate_role      Community pharmacist  ...             Media planner
Lead_source                             Website  ...                   Website
Level_of_meeting                        Level 3  ...                   Level 2
Last_lead_update                       No track  ...                Up-to-date
Internal_POC                   Davis,Sharrice A  ...             Thomas,Lori E
Resource                                    NaN  ...                        No
Internal_rating                               3  ...                         4
Success_probability                        73.6  ...                      62.4
year                                       2020  ...                      2019
month                                         3  ...                         5
day                                          29  ...                        22

[21 rows x 5 columns]

In [ ]:
df.isna().sum()

Industry                   1
Deal_value                51
Weighted_amount          525
Pitch                      0
Lead_revenue               0
Fund_category              0
Geography                972
Location                  11
POC_name                   8
Designation                0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update         633
Internal_POC               0
Resource                 149
Internal_rating            0
Success_probability        0
year                       0
month                      0
day                        0
dtype: int64

In [ ]:
df["Deal_value"] = df["Deal_value"].replace("[\$]" , "" , regex=True).astype(float)
df["Weighted_amount"] = df["Weighted_amount"].replace("[\$]" , "" , regex = True).astype(float)

In [ ]:
df.head().T

                                              0  ...                         4
Industry                            Restaurants  ...        Financial Services
Deal_value                               320506  ...                    483896
Weighted_amount                     2.06726e+06  ...                       NaN
Pitch                                 Product_2  ...                 Product_2
Lead_revenue                   50 - 100 Million  ...          50 - 100 Million
Fund_category                        Category 2  ...                Category 3
Geography                                   USA  ...                     India
Location                     Killeen-Temple, TX  ...                   Shimoga
POC_name                        Charlene Werner  ...                    kavita
Designation            Executive Vice President  ...  Executive Vice President
Hiring_candidate_role      Community pharmacist  ...             Media planner
Lead_source                             Website  ...                   Website
Level_of_meeting                        Level 3  ...                   Level 2
Last_lead_update                       No track  ...                Up-to-date
Internal_POC                   Davis,Sharrice A  ...             Thomas,Lori E
Resource                                    NaN  ...                        No
Internal_rating                               3  ...                         4
Success_probability                        73.6  ...                      62.4
year                                       2020  ...                      2019
month                                         3  ...                         5
day                                          29  ...                        22

[21 rows x 5 columns]

In [ ]:
df.isna().sum()

Industry                   1
Deal_value                51
Weighted_amount          525
Pitch                      0
Lead_revenue               0
Fund_category              0
Geography                972
Location                  11
POC_name                   8
Designation                0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update         633
Internal_POC               0
Resource                 149
Internal_rating            0
Success_probability        0
year                       0
month                      0
day                        0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Industry               7006 non-null   object
 1   Deal_value             6956 non-null   float64
 2   Weighted_amount        6482 non-null   float64
 3   Pitch                  7007 non-null   object
 4   Lead_revenue           7007 non-null   object
 5   Fund_category          7007 non-null   object
 6   Geography              6035 non-null   object
 7   Location               6996 non-null   object
 8   POC_name               6999 non-null   object
 9   Designation            7007 non-null   object
 10  Hiring_candidate_role  7007 non-null   object
 11  Lead_source            7007 non-null   object
 12  Level_of_meeting       7007 non-null   object
 13  Last_lead_update       6374 non-null   object
 14  Internal_POC           7007 non-null   object
 15  Resource               6858 non-null   object
 16  Internal_rating        7007 non-null   int64
 17  Success_probability    7007 non-null   float64
 18  year                   7007 non-null   int64
 19  month                  7007 non-null   int64
 20  day                    7007 non-null   int64
dtypes: float64(3), int64(4), object(14)
memory usage: 1.1+ MB

In [ ]:
df["Geography"].fillna("Unknown" , inplace = True)
df["Last_lead_update"].fillna("Unknown" , inplace = True)
df["Industry"].fillna("Bank" , inplace = True)
df["Location"].fillna("Unknown" , inplace = True)
df.dropna(subset = ["POC_name" , "Resource"] , inplace = True)

In [ ]:
df.isna().sum()

Industry                   0
Deal_value                50
Weighted_amount          511
Pitch                      0
Lead_revenue               0
Fund_category              0
Geography                  0
Location                   0
POC_name                   0
Designation                0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update           0
Internal_POC               0
Resource                   0
Internal_rating            0
Success_probability        0
year                       0
month                      0
day                        0
dtype: int64

In [ ]:
cats = df.select_dtypes(include=["object"]).columns
cats

Index(['Industry', 'Pitch', 'Lead_revenue', 'Fund_category', 'Geography',
       'Location', 'POC_name', 'Designation', 'Hiring_candidate_role',
       'Lead_source', 'Level_of_meeting', 'Last_lead_update', 'Internal_POC',
       'Resource'],
      dtype='object')

In [ ]:
df = pd.get_dummies(df , columns = cats , prefix = cats)
df = pd.get_dummies(df , columns = ["month" , "day"] , prefix = ["month" , "day"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6850 entries, 1 to 7006
Columns: 6730 entries, Deal_value to day_31
dtypes: float64(3), int64(2), uint8(6725)
memory usage: 44.2 MB

In [ ]:
df.head().T

                            1          2         3         4          5
Deal_value            39488.0   359392.0   76774.0  483896.0   418674.0
Weighted_amount      240876.8  2407926.4  468321.4       NaN  2637646.2
Internal_rating           5.0        4.0       1.0       4.0        3.0
Success_probability      58.9       68.8      64.5      62.4       66.3
year                   2019.0     2019.0    2021.0    2019.0     2019.0
...                       ...        ...       ...       ...        ...
day_27                    0.0        1.0       0.0       0.0        0.0
day_28                    0.0        0.0       0.0       0.0        0.0
day_29                    0.0        0.0       0.0       0.0        0.0
day_30                    0.0        0.0       1.0       0.0        1.0
day_31                    0.0        0.0       0.0       0.0        0.0

[6730 rows x 5 columns]

In [ ]:
df["year"] = 2021 - df["year"]

In [ ]:
from sklearn.model_selection import train_test_split
X = df.drop(["Success_probability"] , axis = 1)
y = df["Success_probability"]
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 42)

In [ ]:
len(X_train) , len(y_train) , len(X_test) , len(y_test)

(5480, 5480, 1370, 1370)

In [ ]:
deal_median = X_train["Deal_value"].median()
weighted_median = X_train["Weighted_amount"].median()
X_train["Deal_value"].fillna(deal_median , inplace = True)
X_test["Deal_value"].fillna(deal_median , inplace = True)
X_train["Weighted_amount"].fillna(weighted_median , inplace = True)
X_test["Weighted_amount"].fillna(weighted_median , inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train[["Deal_value" , "Weighted_amount"]] = scaler.fit_transform(X_train[["Deal_value" , "Weighted_amount"]])
X_test[["Deal_value" , "Weighted_amount"]] = scaler.transform(X_test[["Deal_value" , "Weighted_amount"]])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [ ]:
X_train.isna().sum()

Deal_value             0
Weighted_amount        0
Internal_rating        0
year                   0
Industry_Accounting    0
                      ..
day_27                 0
day_28                 0
day_29                 0
day_30                 0
day_31                 0
Length: 6729, dtype: int64

In [ ]:
X_test.isna().sum()

Deal_value             0
Weighted_amount        0
Internal_rating        0
year                   0
Industry_Accounting    0
                      ..
day_27                 0
day_28                 0
day_29                 0
day_30                 0
day_31                 0
Length: 6729, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestRegressor
random = RandomForestRegressor(random_state = 42 , n_estimators = 150)
random.fit(X_train , y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=150, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
random.score(X_train , y_train) , random.score(X_test , y_test)

(0.8617968001874439, -0.028111777933334192)

In [ ]:
from sklearn.metrics import mean_squared_error
preds_random = random.predict(X_test)

In [ ]:
preds_random

array([78.8368, 72.5781, 69.782 , ..., 57.18  , 71.6595, 55.4385])

In [ ]:
score = max(0 , 100-np.sqrt(mean_squared_error(y_test , preds_random)))
score

81.4209814675102

In [ ]:
test = files.upload()

Saving test.csv to test.csv

In [ ]:
test_temp = pd.read_csv(io.BytesIO(test['test.csv']) , parse_dates = ["Date_of_creation"] , low_memory = False)

In [ ]:
tt = test_temp.copy()
tt.head()

   Deal_title                       Lead_name  ...     Resource Internal_rating
0  TitleAD16O                 Bonilla Ltd Inc  ...           No            -1.0
1  TitleOW6CR  Williams, Rogers and Roach PLC  ...          Yes             1.0
2  TitleVVJQ5    Wood, Vaughn and Morales Ltd  ...  Deliverable             5.0
3  TitleUS8NA             Durham-Crawford Inc  ...           No             5.0
4  Title5VGWW    Simpson, Duncan and Long LLC  ...  Deliverable             2.0

[5 rows x 22 columns]

In [ ]:
title = tt["Deal_title"]

In [ ]:
tt["year"] = tt["Date_of_creation"].dt.year
tt["month"] = tt["Date_of_creation"].dt.month
tt["day"] = tt["Date_of_creation"].dt.day
tt.drop(["Date_of_creation"] , axis = 1 , inplace = True)

In [ ]:
tt.drop(["Deal_title" , "Lead_name" , "Contact_no" , "Lead_POC_email"] , axis = 1 , inplace = True)

In [ ]:
tt.isna().sum()

Industry                   1
Deal_value                 5
Weighted_amount           60
Pitch                      0
Lead_revenue               0
Fund_category              0
Geography                 79
Location                   3
POC_name                   2
Designation                0
Hiring_candidate_role      0
Lead_source                0
Level_of_meeting           0
Last_lead_update         168
Internal_POC               0
Resource                  14
Internal_rating            0
year                       0
month                      0
day                        0
dtype: int64

In [ ]:
tt["Deal_value"] = tt["Deal_value"].replace("[\$]" , "" , regex=True).astype(float)
tt["Weighted_amount"] = tt["Weighted_amount"].replace("[\$]" , "" , regex = True).astype(float)

In [ ]:
tt["Geography"].fillna("Unknown" , inplace = True)
tt["Last_lead_update"].fillna("Unknown" , inplace = True)

In [ ]:
tt["Deal_value"].fillna(deal_median , inplace = True)
tt["Weighted_amount"].fillna(weighted_median , inplace = True)
tt.isna().sum()

Industry                  1
Deal_value                0
Weighted_amount           0
Pitch                     0
Lead_revenue              0
Fund_category             0
Geography                 0
Location                  3
POC_name                  2
Designation               0
Hiring_candidate_role     0
Lead_source               0
Level_of_meeting          0
Last_lead_update          0
Internal_POC              0
Resource                 14
Internal_rating           0
year                      0
month                     0
day                       0
dtype: int64

In [ ]:
tt["Location"].fillna("Aurangabad", inplace = True)
tt["POC_name"].fillna("pooja", inplace = True)
tt["Resource"].fillna("No", inplace = True)
tt["Industry"].fillna("Banks" , inplace = True)

In [ ]:
tt.isna().sum()

Industry                 0
Deal_value               0
Weighted_amount          0
Pitch                    0
Lead_revenue             0
Fund_category            0
Geography                0
Location                 0
POC_name                 0
Designation              0
Hiring_candidate_role    0
Lead_source              0
Level_of_meeting         0
Last_lead_update         0
Internal_POC             0
Resource                 0
Internal_rating          0
year                     0
month                    0
day                      0
dtype: int64

In [ ]:
tt = pd.get_dummies(tt , columns = cats , prefix = cats)
tt = pd.get_dummies(tt , columns = ["month" , "day"] , prefix = ["month" , "day"])
tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2093 entries, 0 to 2092
Columns: 3220 entries, Deal_value to day_31
dtypes: float64(3), int64(1), uint8(3216)
memory usage: 6.5 MB

In [ ]:
tt.isna().sum()

Deal_value             0
Weighted_amount        0
Internal_rating        0
year                   0
Industry_Accounting    0
                      ..
day_27                 0
day_28                 0
day_29                 0
day_30                 0
day_31                 0
Length: 3220, dtype: int64

In [ ]:
tt[["Deal_value" , "Weighted_amount"]] = scaler.transform(tt[["Deal_value" , "Weighted_amount"]])

In [ ]:
tt = tt.reindex(columns = df.columns, fill_value=0)

In [ ]:
for i in tt.columns:
  if i not in X.columns:
    print(i)

Success_probability

In [ ]:
tt.drop(["Success_probability"] , axis = 1 , inplace = True)

In [ ]:
test_preds = random.predict(tt)
test_preds

array([53.5515, 62.3296, 77.8995, ..., 67.0095, 56.4135, 62.1951])

In [ ]:
data = {"Deal_title" : title , 
        "Success_probability" : test_preds}
final = pd.DataFrame(data , columns=["Deal_title" , "Success_probability"])
final

      Deal_title  Success_probability
0     TitleAD16O              53.5515
1     TitleOW6CR              62.3296
2     TitleVVJQ5              77.8995
3     TitleUS8NA              70.2828
4     Title5VGWW              64.1244
...          ...                  ...
2088  Title2R8VU              64.0457
2089  Title7HCNJ              74.8479
2090  TitleCD5YZ              67.0095
2091  Title8OKXL              56.4135
2092  TitleHFQT8              62.1951

[2093 rows x 2 columns]

In [ ]:
final.to_csv("Waste Marketing 1.csv" , index = False)

In [ ]:
files.download("Waste Marketing 1.csv")